<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Appointment <small>panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Appointment</li>
        </ol>
    </section>
    <br>
    <!-- Main content -->
    <section class="content">
        <div class="panel profile-page animated zoomIn">
            <div class="panel-body">
                <div class="panel-content">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Mobile</th>
                                <th>Clinic Address</th>
                                <th>Problem</th>
                                <th>Book Appointment</th>
                                <th>Drive Location</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="doctor in doctors">
                                <td>{{doctor.name}}</td>
                                <td>{{doctor.mobile}}</td>
                                <td>{{doctor.clinicAddress}}</td>
                                <td>{{doctor.appointmentDesc}}</td>     
                                <td><button ng-click="viewDoctor(doctor)"><b>View</b> <i class="fa fa-medkit" style="color:red;"></i> <b>Book</b></button></td>
                                <td><i class="glyphicon glyphicon-map-marker"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
